%default-grid-style {
  // SPACING
  border-radius: 5px 5px 5px 5px;
  padding: 3.5rem;

  // COLORS
  background-color: rgba($color-primary-light, 0.1);

  // border: 1px solid rgba($color: $color-primary-light, $alpha: 0.5);
}

%outside-grid-style {
  // SPACING
  border-radius: 5px 5px 5px 5px;
  padding: 3.5rem;

  // COLORS
  background-color: rgba($color-primary-light, 0.1);

  border: 1px solid rgba($color: $color-primary-light, $alpha: 0.5);
}

%section-grid-style {
  // SPACING
  border-radius: 5px 5px 5px 5px;
  padding: 3.5rem;

  // COLORS
  background-color: rgba($color-primary-dark, 0.1);

  border: 1px solid rgba($color: $color-primary-light, $alpha: 0.5);
}

%default-link-style {
  text-decoration: none;
  text-decoration: underline;
}

%default-animation {
  animation: appear 0.5s ease-in;
}
