@mixin html-backgrounds() {
  // Fill whole HTML Document
  background-image: -moz-linear-gradient(
      to bottom,
      rgba($color-primary-darker, 0.97),
      rgba($color-black, 1)
    ),
    url(../img/background_img-2.png);

  background-image: -ms-linear-gradient(
      to bottom,
      rgba($color-primary-darker, 0.97),
      rgba($color-black, 1)
    ),
    url(../img/background_img-2.png);

  background-image: -webkit-gradient(
      to bottom,
      rgba($color-primary-darker, 0.97),
      rgba($color-black, 1)
    ),
    url(../img/background_img-2.png);

  background-image: -webkit-linear-gradient(
      to bottom,
      rgba($color-primary-darker, 0.97),
      rgba($color-black, 1)
    ),
    url(../img/background_img-2.png);

  background-image: -o-linear-gradient(
      to bottom,
      rgba($color-primary-darker, 0.97),
      rgba($color-black, 1)
    ),
    url(../img/background_img-2.png);

  background-image: linear-gradient(
      to bottom,
      rgba($color-primary-darker, 0.97),
      rgba($color-black, 1)
    ),
    url(../img/background_img-2.png);

  // Necessary because mobile does not work well with transparency
  // // Rendering the background image obsolete
  @media (max-width: 1530px) {
    // Fill whole HTML Document
    background-image: -moz-linear-gradient(
      to bottom,
      rgba($color-primary-darker, 1),
      rgba($color-black, 1)
    );

    background-image: -ms-linear-gradient(
      to bottom,
      rgba($color-primary-darker, 1),
      rgba($color-black, 1)
    );

    background-image: -webkit-gradient(
      to bottom,
      rgba($color-primary-darker, 1),
      rgba($color-black, 1)
    );

    background-image: -webkit-linear-gradient(
      to bottom,
      rgba($color-primary-darker, 1),
      rgba($color-black, 1)
    );

    background-image: -o-linear-gradient(
      to bottom,
      rgba($color-primary-darker, 1),
      rgba($color-black, 1)
    );

    background-image: linear-gradient(
      to bottom,
      rgba($color-primary-darker, 1),
      rgba($color-black, 1)
    );
  }
} ;
