// COLORS

// // Main Colors

$color-primary-light: #8148a6;
$color-primary-medium: #532d6d;
$color-primary-dark: #20132d;
$color-primary-darker: #160c20;

// // Misc Colors

$color-black: #000;
$color-white: #fff;

$color-gray-light: #8c949a;
$color-gray-dark: #53546a;

// FONT

// // Sizes
$font-size-100: 1rem;
$font-size-300: 1.5rem;
$font-size-500: 2rem;
$font-size-700: 3rem;
$font-size-900: 6rem;

// MARGIN

// // Top
$margin-top-100: 1rem;
$margin-top-300: 3rem;
$margin-top-500: 6rem;
$margin-top-700: 9rem;
$margin-top-900: 12rem;
