.header {
  height: 50vh;
  width: 100%;
  position: relative;
  background-color: rgba($color: #000000, $alpha: 0);
  background: transparent;
  transition: all 0.9s;

  &__img-area {
    max-width: 70rem;
    min-width: 30rem;

    position: absolute;
    left: 50%;

    transform: translate(-50%, -100%);

    transition: all 1s;

    // Apply responsiveness
    @media (max-width: 1000px) {
      transform: translate(-50%, -120%);
    }

    // Apply responsiveness
    @media (max-width: 850px) {
      transform: translate(-50%, -120%);
    }
  }

  &__img {
    width: 100%;

    // Apply shadow to png
    -webkit-filter: drop-shadow(0 0 1rem $color-black);
    filter: drop-shadow(0 1rem 1rem $color-black);
  }

  &::before {
    // BOILERPLATE
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;

    // bcg img settings
    background-image: linear-gradient(transparent, $color-black 60%),
      url(../img/background_img.png);
    background-size: cover;
    background-position: left;

    // Webkit version needed to be usable on other browsers
    // // Webkit version needs to go first
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 40%, 0 20%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 30%);

    opacity: 90%;

    // Apply responsiveness
    @media (max-width: 1125px) {
      background-position: right;
    }
  }
}
