*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  background-image: linear-gradient(to bottom, rgba(22, 12, 32, 0.97), black), url(../img/background_img-2.jpg);
  background-attachment: fixed;
  background-size: 150%;
  background-position: top;
  background-repeat: no-repeat; }

body {
  box-sizing: border-box; }

.c-sheet__img, .c-sheet__info--general-1, .c-sheet__info--general-2, .c-sheet__info--skills-1, .c-sheet__info--skills-2, .c-sheet__info--languages {
  border-radius: 5px 5px 5px 5px;
  padding: 3rem;
  background-color: rgba(129, 72, 166, 0.1);
  border: 1px solid rgba(129, 72, 166, 0.5); }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.7;
  color: #fff;
  letter-spacing: 0.1rem; }

.heading-primary {
  font-size: 3rem;
  line-height: 0; }

.heading-secondary {
  font-size: 1.5rem;
  line-height: 0; }

.margin-top-100 {
  margin-top: 11rem !important; }

.margin-top-300 {
  margin-top: 3rem !important; }

.margin-top-500 {
  margin-top: 6rem !important; }

.margin-top-700 {
  margin-top: 9rem !important; }

.margin-top-900 {
  margin-top: 12rem !important; }

.header {
  height: 50vh;
  width: 100%;
  position: relative;
  background: transparent;
  transition: all 0.9s; }
  .header__img-area {
    max-width: 70rem;
    min-width: 3rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -100%);
    transition: all 1s; }
  .header__img {
    width: 100%;
    -webkit-filter: drop-shadow(0 0 1rem #000);
    filter: drop-shadow(0 1rem 1rem #000); }
  .header::before {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(transparent, #000 60%), url(../img/background_img.jpg);
    background-size: cover;
    background-position: left;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 40%, 0 20%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 30%);
    opacity: 90%; }

.c-sheet {
  max-width: 150rem;
  margin: 0 auto 0 auto;
  display: grid;
  gap: 5rem;
  grid-template-columns: repeat(3, 1fr); }
  .c-sheet__img {
    background-color: white;
    overflow: hidden;
    grid-row: span 3; }
  .c-sheet__info--general-1 hr {
    border: none;
    height: 0.1rem;
    background-color: rgba(255, 255, 255, 0.2); }
  .c-sheet__info--general-1 > *:not(:last-child) {
    margin-bottom: 5rem; }
  .c-sheet__info--general-2 > *:not(:last-child) {
    margin-bottom: 5rem; }
  .c-sheet__info--skills-1 > *:not(:last-child) {
    margin-bottom: 5rem; }
  .c-sheet__info--skills-2 > *:not(:last-child) {
    margin-bottom: 5rem; }
  .c-sheet__info--languages {
    grid-column: span 2; }

.form {
  position: relative; }
  .form__input {
    font-family: inherit;
    color: inherit;
    font-size: inherit;
    font-weight: 500;
    padding: 1.5rem 2rem;
    background-color: rgba(255, 255, 255, 0);
    border: 0.1rem solid rgba(255, 255, 255, 0.7);
    border-radius: 5px 5px 5px 5px;
    width: 100%; }
    .form__input:focus {
      outline: none; }
    .form__input::placeholder {
      font-weight: 200;
      color: #fff; }
  .form__label {
    display: block;
    text-align: left;
    margin-left: 2rem;
    opacity: 1;
    transition: all 0.1s; }
  .form__input:placeholder-shown ~ .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-3.5rem); }
  .form__button {
    cursor: pointer;
    position: absolute;
    height: 5rem;
    padding: 0 2rem;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-left: 0.1rem solid rgba(255, 255, 255, 0.7);
    border-radius: 0 5px 5px 0;
    font-weight: 600;
    color: inherit;
    transform: translateX(-8.547rem);
    margin: 0 0 0 auto;
    transition: all 0.1s; }
    .form__button:hover {
      background-color: rgba(255, 255, 255, 0.1); }

.form-area {
  margin: 0 auto 0 auto;
  max-width: 100rem;
  padding: 0 5rem; }

.content {
  width: 100%;
  padding: 0 5rem; }
