*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  background-image: linear-gradient(to bottom, rgba(22, 12, 32, 0.97), black), url(../img/background_img-2.jpg);
  background-attachment: fixed;
  background-size: 150%;
  background-position: top;
  background-repeat: no-repeat; }
  html::-webkit-scrollbar {
    display: none; }

body {
  box-sizing: border-box; }

.c-sheet__info--general-1, .c-sheet__info--general-2, .c-sheet__info--skills-1, .c-sheet__info--skills-2, .c-sheet__info--languages, .c-sheet__info--damage-v, .c-sheet__info--damage-r, .c-sheet__info--damage-i, .c-sheet__info--proficiencies-item, .c-sheet__info--s-abilities-item, .c-sheet__info--actions-item, .c-sheet__info--l-actions-item {
  border-radius: 5px 5px 5px 5px;
  padding: 3.5rem;
  background-color: rgba(129, 72, 166, 0.1); }

.c-sheet__img {
  border-radius: 5px 5px 5px 5px;
  padding: 3.5rem;
  background-color: rgba(129, 72, 166, 0.1);
  border: 1px solid rgba(129, 72, 166, 0.5); }

.c-sheet__info--general, .c-sheet__info--skills, .c-sheet__info--misc, .c-sheet__info--proficiencies, .c-sheet__info--s-abilities, .c-sheet__info--actions, .c-sheet__info--l-actions {
  border-radius: 5px 5px 5px 5px;
  padding: 3.5rem;
  background-color: rgba(32, 19, 45, 0.1);
  border: 1px solid rgba(129, 72, 166, 0.5); }

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  text-decoration: underline; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.7;
  color: #fff;
  letter-spacing: 0.1rem; }

a {
  color: inherit; }

.heading-primary {
  font-size: 1.5rem;
  line-height: 2.5rem; }

.heading-secondary {
  font-size: 1.5rem;
  line-height: 0; }

.heading-separator {
  font-size: 500;
  font-weight: 500;
  line-height: 0; }

.footer-text {
  font-size: 1.5rem; }

.margin-top-100 {
  margin-top: 1rem !important; }

.margin-top-300 {
  margin-top: 3rem !important; }

.margin-top-500 {
  margin-top: 6rem !important; }

.margin-top-700 {
  margin-top: 9rem !important; }

.margin-top-900 {
  margin-top: 12rem !important; }

.align-center {
  text-align: center; }

.header {
  height: 50vh;
  width: 100%;
  position: relative;
  background: transparent;
  transition: all 0.9s; }
  .header__img-area {
    max-width: 70rem;
    min-width: 30rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -100%);
    transition: all 1s; }
    @media (max-width: 1000px) {
      .header__img-area {
        transform: translate(-50%, -120%); } }
    @media (max-width: 850px) {
      .header__img-area {
        transform: translate(-50%, -120%); } }
  .header__img {
    width: 100%;
    -webkit-filter: drop-shadow(0 0 1rem #000);
    filter: drop-shadow(0 1rem 1rem #000); }
  .header::before {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(transparent, #000 60%), url(../img/background_img.jpg);
    background-size: cover;
    background-position: left;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 40%, 0 20%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 30%);
    opacity: 90%; }
    @media (max-width: 1125px) {
      .header::before {
        background-position: right; } }

.c-sheet {
  content-visibility: hidden;
  opacity: 0;
  transition: all 1.5s;
  max-width: 150rem;
  margin: 0 auto 0 auto;
  display: grid;
  gap: 3.5rem;
  grid-template-columns: repeat(3, 1fr); }
  .c-sheet__img {
    position: relative;
    overflow: hidden;
    grid-row: span 2;
    background-size: cover;
    background-position: right;
    background-clip: padding-box;
    padding: 1px;
    text-align: center; }
    .c-sheet__img::before {
      content: "If the image doesn`t appear, it is unavailable";
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -20; }
    .c-sheet__img::after {
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      transform: scale(1.3);
      background-image: radial-gradient(transparent, rgba(0, 0, 0, 0.7) 70%); }
    @media (max-width: 1530px) {
      .c-sheet__img {
        grid-row: span 1;
        grid-column: span 3;
        height: 30vh; } }
  .c-sheet__info--general {
    grid-column: span 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem; }
    @media (max-width: 1530px) {
      .c-sheet__info--general {
        grid-row: span 1;
        grid-column: span 3; } }
    .c-sheet__info--general-heading {
      text-align: center;
      grid-column: span 2; }
    .c-sheet__info--general-1 hr {
      border: none;
      height: 0.1rem;
      background-color: rgba(255, 255, 255, 0.2);
      margin-inline-start: 0;
      margin-inline-end: 0; }
    .c-sheet__info--general-1 > *:not(:last-child) {
      margin-bottom: 5rem; }
    .c-sheet__info--general-1 > * > * {
      margin-left: 1rem;
      color: #8148a6; }
    @media (max-width: 1530px) {
      .c-sheet__info--general-1 {
        grid-row: span 1;
        grid-column: span 2; } }
    .c-sheet__info--general-2 > *:not(:last-child) {
      margin-bottom: 5rem; }
    .c-sheet__info--general-2 > * > * {
      margin-left: 1rem;
      color: #8148a6; }
    @media (max-width: 1530px) {
      .c-sheet__info--general-2 {
        grid-row: span 1;
        grid-column: span 2; } }
  .c-sheet__info--skills {
    grid-column: span 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem; }
    @media (max-width: 1530px) {
      .c-sheet__info--skills {
        grid-row: span 1;
        grid-column: span 3; } }
    .c-sheet__info--skills-heading {
      text-align: center;
      grid-column: span 2; }
    .c-sheet__info--skills-1 > *:not(:last-child) {
      margin-bottom: 5rem; }
    .c-sheet__info--skills-1 > * > * {
      margin-left: 1rem;
      color: #8148a6; }
    @media (max-width: 1530px) {
      .c-sheet__info--skills-1 {
        grid-row: span 1;
        grid-column: span 2; } }
    .c-sheet__info--skills-2 > *:not(:last-child) {
      margin-bottom: 5rem; }
    .c-sheet__info--skills-2 > * > * {
      margin-left: 1rem;
      color: #8148a6; }
    @media (max-width: 1530px) {
      .c-sheet__info--skills-2 {
        grid-row: span 1;
        grid-column: span 2; } }
  .c-sheet__info--misc {
    grid-column: span 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    transition: all 1s; }
    .c-sheet__info--misc-heading {
      text-align: center;
      grid-column: span 2; }
  .c-sheet__info--languages {
    grid-column: span 1; }
    .c-sheet__info--languages > * > * {
      margin-left: 1rem;
      line-height: 2.5rem;
      color: #8148a6; }
    @media (max-width: 1530px) {
      .c-sheet__info--languages {
        grid-row: span 1;
        grid-column: span 3;
        text-align: center; }
        .c-sheet__info--languages > * {
          line-height: 2.5rem; }
        .c-sheet__info--languages > * > * {
          margin-left: 0rem;
          line-height: 2.5rem; } }
  .c-sheet__info--damage-v {
    grid-column: span 1; }
    .c-sheet__info--damage-v > * > * {
      margin-left: 1rem;
      line-height: 2.5rem;
      color: #8148a6; }
    @media (max-width: 1530px) {
      .c-sheet__info--damage-v {
        grid-row: span 1;
        grid-column: span 3;
        text-align: center; }
        .c-sheet__info--damage-v > * {
          line-height: 2.5rem; }
        .c-sheet__info--damage-v > * > * {
          margin-left: 0rem;
          line-height: 2.5rem; } }
  .c-sheet__info--damage-r {
    grid-column: span 1; }
    .c-sheet__info--damage-r > * > * {
      margin-left: 1rem;
      line-height: 2.5rem;
      color: #8148a6; }
    @media (max-width: 1530px) {
      .c-sheet__info--damage-r {
        grid-row: span 1;
        grid-column: span 3;
        text-align: center; }
        .c-sheet__info--damage-r > * {
          line-height: 2.5rem; }
        .c-sheet__info--damage-r > * > * {
          margin-left: 0rem;
          line-height: 2.5rem; } }
  .c-sheet__info--damage-i {
    grid-column: span 1; }
    .c-sheet__info--damage-i > * > * {
      margin-left: 1rem;
      line-height: 2.5rem;
      color: #8148a6; }
    @media (max-width: 1530px) {
      .c-sheet__info--damage-i {
        grid-row: span 1;
        grid-column: span 3;
        text-align: center; }
        .c-sheet__info--damage-i > * {
          line-height: 2.5rem; }
        .c-sheet__info--damage-i > * > * {
          margin-left: 0rem;
          line-height: 2.5rem; } }
  .c-sheet__info--proficiencies {
    grid-column: span 3;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    transition: all 1s; }
    .c-sheet__info--proficiencies-heading {
      text-align: center;
      grid-column: span 4; }
    .c-sheet__info--proficiencies-item > * > * {
      margin-left: 1rem;
      color: #8148a6; }
    @media (max-width: 1530px) {
      .c-sheet__info--proficiencies-item {
        text-align: center;
        grid-column: span 4; } }
  .c-sheet__info--s-abilities {
    grid-column: span 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    transition: all 1s; }
    .c-sheet__info--s-abilities-heading {
      text-align: center;
      grid-column: span 2; }
    .c-sheet__info--s-abilities-item > * > * {
      margin-left: 1rem;
      color: #8148a6; }
    @media (max-width: 1530px) {
      .c-sheet__info--s-abilities-item {
        grid-column: span 2; } }
  .c-sheet__info--actions {
    grid-column: span 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    transition: all 1s; }
    .c-sheet__info--actions-heading {
      text-align: center;
      grid-column: span 2; }
    .c-sheet__info--actions-item > * > * {
      margin-left: 1rem;
      color: #8148a6; }
    @media (max-width: 1530px) {
      .c-sheet__info--actions-item {
        grid-column: span 2; } }
  .c-sheet__info--l-actions {
    grid-column: span 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    transition: all 1s; }
    .c-sheet__info--l-actions-heading {
      text-align: center;
      grid-column: span 2; }
    .c-sheet__info--l-actions-item > * > * {
      margin-left: 1rem;
      color: #8148a6; }
    @media (max-width: 1530px) {
      .c-sheet__info--l-actions-item {
        grid-column: span 2; } }

.form {
  position: relative; }
  .form__input {
    font-family: inherit;
    color: inherit;
    font-size: inherit;
    font-weight: 500;
    padding: 1.5rem 2rem;
    background-color: rgba(255, 255, 255, 0);
    border: 0.1rem solid rgba(255, 255, 255, 0.7);
    border-radius: 5px 5px 5px 5px;
    width: 100%; }
    .form__input:focus {
      outline: none; }
    .form__input::placeholder {
      font-weight: 200;
      color: #fff; }
  .form__label {
    display: block;
    text-align: left;
    margin-left: 2rem;
    opacity: 1;
    transition: all 0.1s; }
  .form__input:placeholder-shown ~ .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-3.5rem); }
  .form__button {
    cursor: pointer;
    position: absolute;
    height: 5rem;
    padding: 0 2rem;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-left: 0.1rem solid rgba(255, 255, 255, 0.7);
    border-radius: 0 5px 5px 0;
    font-weight: 600;
    color: inherit;
    transform: translateX(-8.547rem);
    margin: 0 0 0 auto;
    transition: all 0.1s; }
    .form__button:hover {
      background-color: rgba(255, 255, 255, 0.1); }

.btn {
  cursor: pointer;
  border-radius: 5px 5px 5px 5px;
  padding: 1rem;
  background-color: rgba(129, 72, 166, 0.1);
  color: #fff;
  font-size: 2rem;
  border: 1px solid rgba(129, 72, 166, 0.5);
  opacity: 0;
  transition: all 0.5s; }

.form-area {
  margin: 0 auto 0 auto;
  max-width: 100rem;
  padding: 0 5rem;
  text-align: center; }

.content {
  width: 100%;
  padding: 0 3rem; }

.footer {
  text-align: center;
  width: 100vw;
  margin-top: auto;
  padding: 3rem; }
  .footer__grid {
    max-width: 100rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem; }
    @media (max-width: 1530px) {
      .footer__grid {
        grid-template-columns: repeat(1, 1fr); } }
  @media (max-width: 1530px) {
    .footer {
      padding: 0; } }
