// RESETS

// // Universal reset
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

// TWEAKS

// // Change root font size | bcg color
html {
  // currently 16px, 62.4% to be 10
  font-size: 62.5%;

  // Fill whole HTML Document
  background-image: linear-gradient(
      to bottom,
      rgba($color-primary-darker, 0.97),
      rgba($color-black, 1)
    ),
    url(../img/background_img-2.jpg);
  background-attachment: fixed;

  background-size: 150%;
  background-position: top;
  background-repeat: no-repeat;
}

// // Apply border box to be inherited
body {
  box-sizing: border-box;
}
