// RESETS

// // Universal reset
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

// TWEAKS

// // Change root font size | bcg color
html {
  // currently 16px, 62.4% to be 10
  font-size: 62.5%;

  @include html-backgrounds();

  background-attachment: fixed;
  background-size: 150%;
  background-position: top;
  background-repeat: no-repeat;

  // Disable scrollbar from ever appearing
  &::-webkit-scrollbar {
    display: none;
  }
}

// // Apply border box to be inherited
body {
  box-sizing: border-box;
}
