// MACRO DEFINITIONS

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;

  font-size: $font-size-300;

  line-height: 1.7;
  color: $color-white;

  letter-spacing: 0.1rem;
}

// HEADINGS

// // h1

.heading-primary {
  font-size: $font-size-500;
  line-height: 0;

  // Apply responsiveness
  @media (max-width: 1530px) {
    font-size: $font-size-300;
  }
}

.heading-secondary {
  font-size: $font-size-300;
  line-height: 0;
}
