// MARGIN

// // Top

.margin-top-300 {
  margin-top: $margin-top-300 !important;
}

.margin-top-500 {
  margin-top: $margin-top-500 !important;
}

.margin-top-700 {
  margin-top: $margin-top-700 !important;
}

.margin-top-900 {
  margin-top: $margin-top-900 !important;
}
