<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- BOILERPLATE -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- IMPORT JQUERY LIBRARY TO USE AJAX -->
    <script
      src="https://code.jquery.com/jquery-3.6.3.min.js"
      integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
      crossorigin="anonymous"
    ></script>

    <!-- IMPORT FONT -->
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />

    <!-- IMPORT STYLESHEET -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />

    <!-- IMPORT STYLING SCRIPTS -->
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/style.js') }}"
    ></script>

    <!-- IMPORT FETCH API SCRIPT -->
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/main.js') }}"
    ></script>

    <!-- SELECT FAVICON -->
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='img/favicon.png') }}"
      type="image/x-icon"
    />

    <!-- ESSENTIALS -->
    <title>DnD 5th edition - Monster Codex</title>
    <meta
      name="description"
      content="Website for searching and visualizing information about DnD 5th edition monsters"
    />
  </head>
  <body>
    <!--  -->
    <!--  -->
    <!--  -->
    <!--  -->
    <!--  -->
    <!--  -->
    <!--  -->
    <header class="header">
      <div class="header__img-area">
        <img src="/static/img/logo.png" alt="dnd logo" class="header__img" />
      </div>
    </header>
    <!--  -->
    <!--  -->
    <!--  -->
    <!--  -->
    <!--  -->
    <!--  -->
    <!--  -->
    <main>
      <!--  -->
      <!--  -->
      <!--  -->
      <!--  -->
      <!--  -->
      <!--  -->
      <!--  -->
      <div class="form-area | margin-top-700">
        <form class="form">
          <input
            type="text"
            class="form__input"
            placeholder="Search for a monster"
            id="monster"
            name="monster"
          />
          <button type="submit" class="form__button" onclick="lookup()">
            Search
          </button>
          <label class="form__label" for="form__input">Ex.: acolyte</label>
        </form>
        <button class="btn margin-top-300">&#10005;</button>
      </div>
      <!--  -->
      <!--  -->
      <!--  -->
      <!--  -->
      <!--  -->
      <!--  -->
      <!--  -->
      <section class="content | margin-top-500">
        <article class="c-sheet">
          <!--  -->
          <!--  -->
          <!--  -->
          <!--  -->
          <!--  -->
          <!--  -->
          <!--  -->
          <div class="c-sheet__img"></div>
          <!--  -->
          <!--  -->
          <!--  -->
          <!--  -->
          <!--  -->
          <!--  -->
          <!--  -->
          <div class="c-sheet__info--general">
            <div class="c-sheet__info--general-heading">
              <h2 class="heading-primary">General Information:</h2>
            </div>
            <div class="c-sheet__info--general-1">
              <!--  -->
              <h2 class="name | heading-primary">
                Name: <span class="name__value"></span>
                <!-- White line separating this from what comes bellow -->
                <hr class="margin-top-300" />
              </h2>
              <!--  -->
              <h3 class="type | heading-secondary">
                Type: <span class="type__value"></span>
              </h3>
              <!--  -->
              <h3 class="alignment | heading-secondary">
                Alignment: <span class="alignment__value"></span>
              </h3>
              <!--  -->
              <h3 class="armor-class | heading-secondary">
                Armor Class: <span class="armor-class__value"></span>
              </h3>
              <!--  -->
            </div>
            <div class="c-sheet__info--general-2">
              <!--  -->
              <h3 class="size | heading-secondary">
                Size: <span class="size__value"></span>
              </h3>
              <!--  -->
              <h3 class="hit-points | heading-secondary">
                Hit points: <span class="hit-points__value"></span>
              </h3>
              <!--  -->
              <h3 class="hit-dice | heading-secondary">
                Hit dice: <span class="hit-dice__value"></span>
              </h3>
              <!--  -->
              <h3 class="challenge-rating | heading-secondary">
                Challenge rating: <span class="challenge-rating__value"></span>
              </h3>
              <!--  -->
              <h3 class="xp | heading-secondary">
                XP: <span class="xp__value"></span>
              </h3>
              <!--  -->
            </div>
          </div>
          <!--  -->
          <!--  -->
          <!--  -->
          <!--  -->
          <!--  -->
          <!--  -->
          <!--  -->
          <div class="c-sheet__info--skills">
            <div class="c-sheet__info--skills-heading">
              <h2 class="heading-primary">Stats:</h2>
            </div>
            <div class="c-sheet__info--skills-1">
              <!--  -->
              <h3 class="strength | heading-secondary">
                Strength: <span class="strength__value"></span>
              </h3>
              <!--  -->
              <h3 class="dexterity | heading-secondary">
                Dexterity: <span class="dexterity__value"></span>
              </h3>
              <!--  -->
              <h3 class="constitution | heading-secondary">
                Constitution: <span class="constitution__value"></span>
              </h3>
              <!--  -->
            </div>
            <div class="c-sheet__info--skills-2">
              <!--  -->
              <h3 class="intelligence | heading-secondary">
                Intelligence: <span class="intelligence__value"></span>
              </h3>
              <!--  -->
              <h3 class="wisdom | heading-secondary">
                Wisdom: <span class="wisdom__value"></span>
              </h3>
              <!--  -->
              <h3 class="charisma | heading-secondary">
                Charisma: <span class="charisma__value"></span>
              </h3>
              <!--  -->
            </div>
          </div>
          <!--  -->
          <!--  -->
          <!--  -->
          <!--  -->
          <!--  -->
          <!--  -->
          <!--  -->
          <div class="c-sheet__info--misc">
            <div class="c-sheet__info--misc-heading">
              <h2 class="heading-primary">Misc:</h2>
            </div>
            <!--  -->
            <!--  -->
            <!--  -->
            <!--  -->
            <!--  -->
            <!--  -->
            <!--  -->
            <div class="c-sheet__info--languages">
              <h3 class="languages | heading-secondary">
                Languages: <span class="languages__value"></span>
              </h3>
            </div>
            <!--  -->
            <!--  -->
            <!--  -->
            <!--  -->
            <!--  -->
            <!--  -->
            <!--  -->
            <div class="c-sheet__info--damage-v">
              <h3 class="damage__vulnerabilities | heading-secondary">
                Damage Vulnerabilities:
                <span class="damage__vulnerabilities--value"></span>
              </h3>
            </div>
            <!--  -->
            <!--  -->
            <!--  -->
            <!--  -->
            <!--  -->
            <!--  -->
            <!--  -->
            <div class="c-sheet__info--damage-r">
              <h3 class="damage__resistances | heading-secondary">
                Damage Resistances:
                <span class="damage__resistances--value"></span>
              </h3>
            </div>
            <!--  -->
            <!--  -->
            <!--  -->
            <!--  -->
            <!--  -->
            <!--  -->
            <!--  -->
            <div class="c-sheet__info--damage-i">
              <h3 class="damage__immunities | heading-secondary">
                Damage Immunities:
                <span class="damage__immunities--value"></span>
              </h3>
            </div>
          </div>
          <!--  -->
          <!--  -->
          <!--  -->
          <!--  -->
          <!--  -->
          <!--  -->
          <!--  -->
          <div class="c-sheet__info--proficiencies">
            <div class="c-sheet__info--proficiencies-heading">
              <h2 class="heading-primary">Proficiencies:</h2>
            </div>
          </div>
          <!--  -->
          <!--  -->
          <!--  -->
          <!--  -->
          <!--  -->
          <!--  -->
          <!--  -->
          <div class="c-sheet__info--s-abilities">
            <div class="c-sheet__info--s-abilities-heading">
              <h2 class="heading-primary">Special Abilities:</h2>
            </div>
          </div>
          <!--  -->
          <!--  -->
          <!--  -->
          <!--  -->
          <!--  -->
          <!--  -->
          <!--  -->
          <div class="c-sheet__info--actions">
            <div class="c-sheet__info--actions-heading">
              <h2 class="heading-primary">Actions:</h2>
            </div>
          </div>
          <!--  -->
          <!--  -->
          <!--  -->
          <!--  -->
          <!--  -->
          <!--  -->
          <!--  -->
          <div class="c-sheet__info--l-actions">
            <div class="c-sheet__info--l-actions-heading">
              <h2 class="heading-primary">Legendary Actions:</h2>
            </div>
          </div>
          <!--  -->
          <!--  -->
          <!--  -->
          <!--  -->
          <!--  -->
          <!--  -->
          <!--  -->
        </article>
      </section>
    </main>
    <!--  -->
    <!--  -->
    <!--  -->
    <!--  -->
    <!--  -->
    <!--  -->
    <!--  -->
    <footer class="footer">
      <div class="footer__grid">
        <h2 class="footer__credential footer-text">Made in &#127463;&#127479 by: <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/rafael-antoniassi-812a40149/">Rafael</a></h2>

        <h2 class="footer__homage footer-text"><a target="_blank" rel="noopener noreferrer" href="https://www.defendukraine.org/donate">Stand with &#127482;&#127462&#9994;</a></h2>
      </div>
    </footer>
  </body>
</html>
